Documents/flow.json
[{"id":"47457d89.6de9d4","type":"tab","label":"Paradox test","disabled":false,"info":""},{"id":"bde3ddf.15a152","type":"mqtt in","z":"47457d89.6de9d4","name":"","topic":"paradox32CTL/out","qos":"2","datatype":"json","broker":"240f31f6.8f29ce","x":160,"y":200,"wires":[["9d34b663.160738"]]},{"id":"9d34b663.160738","type":"debug","z":"47457d89.6de9d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":200,"wires":[]},{"id":"fad11d32.3331a","type":"inject","z":"47457d89.6de9d4","name":"Sleep","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"sleep\",\"Subcommand\":\"0\"}","payloadType":"json","x":130,"y":580,"wires":[["97ca20f5.49b6a"]]},{"id":"30f98a64.3bf646","type":"inject","z":"47457d89.6de9d4","name":"arm","props":[{"p":"payload","v":"{\"Command\":\"arm\",\"Subcommand\":\"0\"}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"arm\",\"Subcommand\":\"0\"}","payloadType":"json","x":130,"y":620,"wires":[["97ca20f5.49b6a"]]},{"id":"6e90af40.7f95f","type":"function","z":"47457d89.6de9d4","name":"","func":"msg.payload.Command = msg.payload.Command.toString();\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":660,"wires":[["3e8779d3.29ba66","ee8506da.b64608"]]},{"id":"97ca20f5.49b6a","type":"change","z":"47457d89.6de9d4","name":"","rules":[{"t":"set","p":"payload.password","pt":"msg","to":"1111","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":660,"wires":[["6e90af40.7f95f","835b5395.06c96"]]},{"id":"ff644ea7.62f23","type":"inject","z":"47457d89.6de9d4","name":"disarm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"disarm\",\"Subcommand\":\"0\"}","payloadType":"json","x":130,"y":700,"wires":[["97ca20f5.49b6a"]]},{"id":"749155e9.5bdc5c","type":"debug","z":"47457d89.6de9d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":660,"wires":[]},{"id":"835b5395.06c96","type":"debug","z":"47457d89.6de9d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":620,"wires":[]},{"id":"cfa5ede3.bca3b","type":"mqtt in","z":"47457d89.6de9d4","name":"","topic":"paradox32CTL/hassio/#","qos":"2","datatype":"auto","broker":"240f31f6.8f29ce","x":140,"y":380,"wires":[["5504e329.a7e19c"]]},{"id":"5504e329.a7e19c","type":"debug","z":"47457d89.6de9d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":380,"wires":[]},{"id":"f2909ade.1bd728","type":"inject","z":"47457d89.6de9d4","name":"panelstate","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"armstate\",\"Subcommand\":\"0\"}","payloadType":"json","x":120,"y":940,"wires":[["97ca20f5.49b6a"]]},{"id":"3e8779d3.29ba66","type":"mqtt out","z":"47457d89.6de9d4","name":"","topic":"paradox32CTL/in","qos":"0","retain":"","broker":"240f31f6.8f29ce","x":1010,"y":600,"wires":[]},{"id":"a5dfefac.a6c69","type":"inject","z":"47457d89.6de9d4","name":"panelstatus_0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"panelstatus\",\"Subcommand\":\"0\"}","payloadType":"json","x":110,"y":760,"wires":[["97ca20f5.49b6a"]]},{"id":"459e0c31.bb7044","type":"inject","z":"47457d89.6de9d4","name":"panelstatus_1","props":[{"p":"payload","v":"{\"Command\":\"panelstatus\",\"Subcommand\":\"1\"}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"panelstatus\",\"Subcommand\":\"1\"}","payloadType":"json","x":110,"y":800,"wires":[["97ca20f5.49b6a"]]},{"id":"9d1f5183.284c3","type":"inject","z":"47457d89.6de9d4","name":"setdate","props":[{"p":"payload","v":"{\"Command\":\"setdate\",\"Subcommand\":\"0\"}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"setdate\",\"Subcommand\":\"0\"}","payloadType":"json","x":130,"y":840,"wires":[["97ca20f5.49b6a"]]},{"id":"a3d9413f.72f7e","type":"inject","z":"47457d89.6de9d4","name":"stay","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"stay\",\"Subcommand\":\"0\"}","payloadType":"json","x":130,"y":660,"wires":[["97ca20f5.49b6a"]]},{"id":"c71e11e2.0f834","type":"inject","z":"47457d89.6de9d4","name":"disconnect","props":[{"p":"payload","v":"{\"Command\":\"disconnect\",\"Subcommand\":\"0\"}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"disconnect\",\"Subcommand\":\"0\"}","payloadType":"json","x":120,"y":520,"wires":[["97ca20f5.49b6a"]]},{"id":"57ac8092.51fe7","type":"inject","z":"47457d89.6de9d4","name":"Trace=1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Trace=1","payloadType":"str","x":740,"y":520,"wires":[["3e8779d3.29ba66"]]},{"id":"832079be.8c00a8","type":"inject","z":"47457d89.6de9d4","name":"Trace=0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Trace=0","payloadType":"str","x":740,"y":480,"wires":[["3e8779d3.29ba66"]]},{"id":"a6848d5a.1ee7e","type":"debug","z":"47457d89.6de9d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":320,"wires":[]},{"id":"949491c1.21333","type":"inject","z":"47457d89.6de9d4","name":"disconnect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"stay\",\"Subcommand\":\"1\",\"password\":\"1111\"}","payloadType":"str","x":460,"y":560,"wires":[["3e8779d3.29ba66"]]},{"id":"ee8506da.b64608","type":"json","z":"47457d89.6de9d4","name":"","property":"payload","action":"","pretty":false,"x":930,"y":660,"wires":[["749155e9.5bdc5c"]]},{"id":"3021fa3f.7f0546","type":"mqtt in","z":"47457d89.6de9d4","name":"","topic":"paradox32CTL/in","qos":"2","datatype":"json","broker":"240f31f6.8f29ce","x":140,"y":260,"wires":[["163962b5.521b1d"]]},{"id":"163962b5.521b1d","type":"debug","z":"47457d89.6de9d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":260,"wires":[]},{"id":"c9e58a71.8fa348","type":"mqtt in","z":"47457d89.6de9d4","name":"","topic":"paradox32CTL/HomeKit/#","qos":"2","datatype":"json","broker":"240f31f6.8f29ce","x":130,"y":440,"wires":[["63773153.c8bae"]]},{"id":"63773153.c8bae","type":"debug","z":"47457d89.6de9d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","statusVal":"","statusType":"auto","x":550,"y":440,"wires":[]},{"id":"6f99ca75.60f4a4","type":"mqtt in","z":"47457d89.6de9d4","name":"","topic":"paradox32CTL/status/#","qos":"2","datatype":"json","broker":"240f31f6.8f29ce","x":140,"y":320,"wires":[["a6848d5a.1ee7e"]]},{"id":"db0e5024.97859","type":"inject","z":"47457d89.6de9d4","name":"OTA=1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OTA=1","payloadType":"str","x":770,"y":420,"wires":[["3e8779d3.29ba66"]]},{"id":"5bda1c0.b2039e4","type":"inject","z":"47457d89.6de9d4","name":"OTA=0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"OTA=0","payloadType":"str","x":770,"y":380,"wires":[["3e8779d3.29ba66"]]},{"id":"9a5616d4.653f98","type":"inject","z":"47457d89.6de9d4","name":"SendEventDescriptions=1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SendEventDescriptions=1","payloadType":"str","x":830,"y":320,"wires":[["3e8779d3.29ba66"]]},{"id":"997f91ce.803d8","type":"inject","z":"47457d89.6de9d4","name":"SendEventDescriptions=0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SendEventDescriptions=0","payloadType":"str","x":830,"y":280,"wires":[["3e8779d3.29ba66"]]},{"id":"9a225453.167988","type":"mqtt in","z":"47457d89.6de9d4","name":"","topic":"paradox32CTL/#","qos":"2","datatype":"json","broker":"240f31f6.8f29ce","x":170,"y":60,"wires":[["f68ea9d6.025c68"]]},{"id":"f68ea9d6.025c68","type":"debug","z":"47457d89.6de9d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":60,"wires":[]},{"id":"1d9d4e05.1e48f2","type":"catch","z":"47457d89.6de9d4","name":"","scope":null,"uncaught":false,"x":590,"y":100,"wires":[[]]},{"id":"cf252f.c4c44ad","type":"inject","z":"47457d89.6de9d4","name":"bypass","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Command\":\"bypass\",\"Subcommand\":\"21\",\"password\":\"0808\"}","payloadType":"str","x":470,"y":520,"wires":[["3e8779d3.29ba66"]]},{"id":"240f31f6.8f29ce","type":"mqtt-broker","name":"","broker":"192.168.2.230","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]